if SHIELD_CORNE_LEFT

config ZMK_KEYBOARD_NAME
	default "Corne"

config ZMK_SPLIT_BLE_ROLE_CENTRAL
	default y

endif

if SHIELD_CORNE_LEFT || SHIELD_CORNE_RIGHT

config ZMK_SPLIT
	default y

endif

if SHIELD_CORNE_LEFT || SHIELD_CORNE_RIGHT

config ZMK_KEYBOARD_NAME
	default "Corne"

if ZMK_DISPLAY

config I2C
	default y

config SSD1306
	default y

if SSD1306

config SSD1306_REVERSE_MODE
	default y

endif # SSD1306

if LVGL_VDB_SIZE

config LVGL_VDB_SIZE
	default 64

endif # LVGL_VDB_SIZE

if LVGL_DPI

config LVGL_DPI
	default 148

endif # LVGL_DPI

if LVGL_BUF_SIZE

config LVGL_BUF_SIZE
	default 32

endif # LVGL_BUF_SIZE

endif # ZMK_DISPLAY

if ZMK_RGB_UNDERGLOW

config SPI
	default y

config WS2812_STRIP
	default y

endif # ZMK_RGB_UNDERGLOW

endif # SHIELD_CORNE_LEFT || SHIELD_CORNE_RIGHT
